<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>回到古代见李白</title>
      <style>
          h1
          {
            position:fixed;
            top:290px;
            right:540px;
          }
          body
          {
            background-image:url('./static/sky.jpg');
            background-repeat:no-repeat;
            background-attachment:fixed;
          }
      </style>
  </head>
  <body>
    <div>
        <a href="http://127.0.0.1:5000/index">
            <h1>回到古代见李白的个人博客</h1>
        </a>
        <audio autoplay preload="auto" loop>
                <source src="./static/一路向北.mp3">
        </audio>
    </div>
  </body>
</html>

