* {
    margin: 0;
    padding: 0;
}

html body {
    /* background-color: rgb(250, 250, 220); */
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.head {
    width: 100%;
    height: 150px;
    background-color: #DC143C;
    /* 让head始终贴住上端 */
    position: sticky;
    top: 0px;
    /* CSS渐变 */
    /* transition: background-color 1s; */
    /* 设置head在最上面 */
    /* z-index: 1; */

    opacity: 0.8;
}

/* 父级盒子 */
.container {
    margin:0 auto;
    width: 85%;
    /* 高度由子盒子撑开 */
    height: auto;
}

/* 解决父级盒子因为子盒子浮动而失去高度 */
.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

/* 子级盒子 */
.left-con {
    float: left;
    width: 65%;
    /* 根据右边三个盒子计算所得 */
    /* min-height: 640px;    */
    height: auto;
    /* background-color: #fff;     */
    position: relative;
    left: 4%;
    top: 10px;

    /* border: black 5px solid; */
    padding: 10px;
    box-sizing: border-box;

    opacity: 0.9;
}

.left-con .ul1 .li1 {
    /* list-style: none; */
    width: 100%;
    height: 200px;
    background-color: white;

    margin-top: 10px;
    /* border: black 1px solid; */
    padding: 10px;
    box-sizing: border-box;
    box-sizing: content-box;
}

/* 子级盒子 */
.right-con {
    float: right;
    width: 25%;
    height: auto;
    background-color: #fff;
    position: relative;
    right: 4%;
    top: 20px;
}

/* 个人信息 */
.top-me {
    float: left;
    width: 90%;
    min-height: 200px;
    height: 500px;
    background-color: #fff;   
    
    /* border: black 5px solid; */
    padding: 10px;
    box-sizing: border-box;

    opacity: 0.9;

    overflow: hidden;
}

.htitle {
    display: block;
    /* text-decoration: none; */
    text-align: center;
    position: relative; 
    top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

/* top-me盒子里的 */
.top-me .ul2 .li2 h3 {
    display: block;
    color: rgb(233, 97, 97);
    margin: 5px;
    text-align: center;
}

.top-me .ul2 .li2 img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.top-me .ul2 .li2 p {
    display: block;
    font-size: 16px;
    margin-top: 5px;
    color: rgb(233, 97, 97);
}

.top-me .ul2 .li2 .link1,.link2 {
    display: block;
    margin: 5px;
    /* text-decoration: none; */
    text-align: center;
    color: rgb(233, 97, 97);
}

/* link文档 */
.my-doc {
    float: left;
    width: 100%;
    /* min-height: 200px; */
    height: auto;
    background-color: #fff;
    position: absolute;
    /* 根据实际高度计算 */
    top: 520px;

    /* border: black 5px solid; */
    padding: 10px;
    box-sizing: border-box;

    opacity: 0.9;
}

.my-doc a {
    display: block;
    text-align: center;
    width: auto;
    height: 35px;
    margin-top: 10px;
    box-sizing: border-box;
    box-sizing: content-box;
    /* background-color: rgb(233, 97, 97); */
}

.link-passage {
    float: left;
    width: 100%;
    min-height: 200px;
    height: auto;
    background-color: #fff;
    position: absolute;
    top: 740px;

    /* border: lightsteelblue 5px solid; */
    padding: 10px;
    box-sizing: border-box;

    opacity: 0.9;
}

.link-passage a {
    display: block;
    text-align: center;
    width: auto;
    height: 35px;
    margin-top: 10px;
    box-sizing: border-box;
    box-sizing: content-box;
    /* background-color: rgb(233, 97, 97); */
}

.top-me .ul2 .li2 {
    /* list-style: none; */
    width: 100%;
    height: 50px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    box-sizing: content-box;
}

.bottom #return {
    display: none;
    width: 50px;
    height: 50px;
    background-color: red;
    position: fixed;
    bottom: 10px;
    right: 3%;
}