<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/css/base.css">
    <link rel="stylesheet" href="./static/css/header.css">
</head>
<body>
    <div class="sky">
        <div class="clouds_one"></div>
        <div class="clouds_two"></div>
        <div class="clouds_three"></div>
        <a class="htitle" href="#">欢迎来到回到古代见李白的个人网站</a>
    </div>       

    <div class="container">
        <div class="left-con">
            <ul class="ul1">
                <li class="li1" style="margin-top: 0px;">
                    <h2>代码改变世界</h2>
                    <span>
                        ...
                    </span>
                </li>
                <li class="li1">
                    <h2>代码改变世界</h2>
                    <span>
                        ...
                    </span>
                </li>
                <li class="li1">
                    <h2>代码改变世界</h2>
                    <span>
                        ...
                    </span>
                </li>
                <li class="li1">
                    <h2>代码改变世界</h2>
                    <span>
                        ...
                    </span>
                </li>
                <li class="li1">
                    <h2>代码改变世界</h2>
                    <span>
                        ...
                    </span>
                </li>
                <li class="li1">
                    <h2>代码改变世界</h2>
                    <span>
                        ...
                    </span>
                </li>
                <li class="li1">
                    <h2>代码改变世界</h2>
                    <span>
                        ...
                    </span>
                </li>
                <li class="li1">
                    <h2>代码改变世界</h2>
                    <span>
                        ...
                    </span>
                </li>
                <li class="li1">
                    <h2>代码改变世界</h2>
                    <span>
                        ...
                    </span>
                </li>
                <li class="li1">
                    <h2>代码改变世界</h2>
                    <span>
                        ...
                    </span>
                </li>
            </ul>
        </div>
        <div class="right-con">
            <div class="top-me">
                <ul class="ul2">
                    <li class="li2" style="margin-top: 0px;">
                        <img src="static/img/head.jpg" alt="加载失败">
                        <h3>回到古代见李白</h3>
                        <h3>代码改变世界 艺术就是爆炸</h3>
                        <h3>大二在读 弹药工程</h3><br><hr>
                        <p style="text-align: center;">创建本站点的初衷</p>
                        <p style="text-align: center;">记录自己自学Python过程中的所思所想所得</p>
                        <p style="text-align: center;">主要内容为Python基础, 爬虫, Web开发与算法等</p>
                        <p style="text-align: center;">本站点前端HTML-CSS-JavaScript</p>
                        <p style="text-align: center;">本站点后端Python-flask 数据库flask-Mysql</p><br><hr><br>
                        <div class="link1">
                            <a href="#">Github</a>
                            <a href="#">| 公众号</a>
                        </div>
                        <div class="link2">
                            <a href="#">&nbsp&nbsp&nbsp邮箱</a>
                            <a href="#">| BiliBli</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="my-doc">
                <a href="#">Python基础知识笔记</a>
                <a href="#">Python爬虫知识笔记</a>
                <a href="#">Python Web前端笔记</a>
                <a href="#">编程之外的随记日记</a>
            </div>
            <div class="link-passage">
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
                <a href="#">公众号文章</a>
            </div>
        </div>
    </div>
    
    <div class="bottom">
        <input type="button" name="返回顶部" id="return">
    </div>
    <!-- <script src="static/js/base.js"></script> -->
    <script src="static/js/mousetrace.js"></script>
</body>
</html>